SERIAL 0 115200
UI vesamenu.c32
MENU TITLE KIYARCH // MIDNIGHT FORGE
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       30;40   #602a3036 #e00b0d0f std
MENU COLOR title        1;33;40 #fff1eee8 #e00b0d0f std
MENU COLOR sel          1;37;43 #ff0b0d0f #ffe87832 all
MENU COLOR unsel        37;40   #d0a7adb2 #e00b0d0f std
MENU COLOR help         37;40   #d0a7adb2 #e00b0d0f std
MENU COLOR timeout_msg  37;40   #90a7adb2 #00000000 std
MENU COLOR timeout      1;33;40 #ffffb15c #00000000 std
MENU COLOR msg07        37;40   #c0a7adb2 #e00b0d0f std
MENU COLOR tabmsg       33;40   #b0e87832 #00000000 std

MENU CLEAR
MENU IMMEDIATE
